<html>

<head>
    <title>About Us</title>
    {#  to added cdn and external css also internal css we can define here  #}
    
    <style>
        body {
            background-color: #02005fff;
        }
        h1 {
            color: white;
        }
        p {
            color: white;
        }
    </style>

</head>
<body>

 <h1 style='color:blue;'>About Us</h1>
    <p style='background-color:black;'>Welcome to the About Us page of our website.<br> Here you can find information about our mission, values, and team.</p>  
<hr>
    <a href="/"> <span style="color:white;">Clicks to Home Page</span> </a>
</body>

</html>