<html>

<head>
    <title>Developed By BasicToTop</title>
</head>

<body style='background:lightblue;'>

    <center><h1 style='color:red;'><span style='margin-left:65%;'>Welcome to the Home Page</span></h1></center>
    <h2>This is developed by BasicToTop</h2>
    <h3>Learn Django Framework</h3>
    <h4>Subscribe BasicToTop YouTube Channel</h4>
    <h5>Visit BasicToTop Website for more tutorials</h5>
    <h6 style='color:green;'>Happy Learning!!!</h6>
    <p><strong>Trainer Name:</strong> <i>{{ trainer }}</i></p>
    <a href="https://www.basictotop.in" target="_blank">BasicToTop Website</a> || 
    <a href="/about"> Clicks to About Page </a>  || <a href="/testapp/test"> Clicks to About Page </a>
</body>


</html>