{% extends 'testapp/base.html' %}


    {% block body_block %}
    <h1>Hello, Welcome To About Page..!</h1>
    <div class="jumbotron">
  <h1 class="display-4">Welcome To BasicToTop!</h1>
  <p class="lead">About Us – BasicToTop BasicToTop is a forward-thinking, technology-driven company committed to empowering individuals, startups, and businesses through innovative software development and practical tech education. Our mission is simple yet powerful — to bridge the gap between real-world business needs and the rapidly evolving technology landscape. In today’s digital era, many organizations struggle with scaling effectively, and many individuals face challenges in acquiring industry-ready skills. 
    BasicToTop exists to solve both. What We Do We specialize in: Scalable backend solutions designed to 
    handle real-world workloads Robust, custom web development using modern technologies such as Python,
     Django, and REST APIs Hands-on training programs tailored for: Students entering the tech field Working 
     professionals looking to switch or upskill Teams aiming to improve their backend and deployment capabilities We understand that true...

</p>
  <hr class="my-4">
  <p>BasicToTop is here to help you move forward — from basic to top.</p>
  <a class="btn btn-primary btn-lg" href="https://www.basictotop.in/about-us/" role="button" target='_blank'>Learn more</a>
</div>
    {% endblock %}
