{% extends 'testapp/base.html' %}

{% block body_block %}
    <h1>This is Contact Us Page..!</h1>
    <form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
</div><br>
  <div class="row">
  <div class="col">
      <input type="text" class="form-control" placeholder="Phone Number">
 </div>
 
  <div class="col">
      <input type="test" class="form-control" placeholder="Message">
 </div>
<br><br>
 <button type="button" class="btn btn-danger btn-lg btn-block">Submit</button>

  </div>
</form>
{% endblock %}