{% extends "mainapp/base.html" %}
{% block body_block %}
   
     <!-- Table Section -->
            <div style="margin-top: 2rem;">
                <h4 style="color: var(--primary); margin-bottom: 1.5rem; font-weight: 700;">Countries List</h4>
                 <a href="{% url 'country' %}" class="btn btn-primary" style="margin-left: 85%;">Add New Country</a><br><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Country Code </th>
                            <th>Country Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for country in  countries %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ country.country_code }}</td>
                            <td>{{ country.country_name }}</td>
                            <td><a href="{% url 'country_edit' country.pk %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'country_delete' country.pk %}" class="btn btn-danger">Delete</a>
                                <a href="{% url 'country_detail' country.pk %}" class="btn btn-info">Details</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endblock %}