<!-- Sidebar -->
        <aside class="sidebar custom_color" id="sidebar">
            <div class="sidebar-title">Menu</div>
            <ul class="sidebar-menu">
                <li class="active">
                    <a href="{% url 'home' %}">
                        <i class="fas fa-home"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'country_list' %}">
                        <i class="fas fa-users"></i>
                        Country
                    </a>
                </li>
                <li>
                    <a href="{% url 'state' %}">
                        <i class="fas fa-users"></i>
                        State
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'gender' %}">
                        <i class="fas fa-users"></i>
                        Gender
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'qualification' %}">
                        <i class="fas fa-users"></i>
                        Qualification
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'university' %}">
                        <i class="fas fa-users"></i>
                        University
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'student' %}">
                        <i class="fas fa-users"></i>
                        Student
                    </a>
                </li>
            </ul>
        </aside>