<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark custom_color fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                BasicToTop
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-auto">
                <h3 style="color: white; margin-left: 35%;">Student Management System</h3>
            </div> 
        </div>
    </nav>