{% extends "mainapp/base.html" %}
{% block body_block %}

<div style="margin-top: 2rem;">
    <h4 style="color: var(--primary); margin-bottom: 1.5rem; font-weight: 700;">
        States List
    </h4>

    <a href="{% url 'state' %}" class="btn btn-primary" style="margin-left: 85%;">
        Add New State
    </a><br><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>State Code</th>
                <th>State Name</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for state in states %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ state.state_code }}</td>
                <td>{{ state.state_name }}</td>
                <td>{{ state.country_name.country_name }}</td>
                <td>
                    <a href="{% url 'state_edit' state.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'state_delete' state.pk %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'state_detail' state.pk %}" class="btn btn-info">Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
